* {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #45176b;
    color: white;
}

li {
    text-align: left;
}

h3 {
    text-align: left;
}
#picture{
    border-radius: 15px 50px;
}